.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: rgb(153, 236, 255);

  max-width: 960px;
  padding: 16px;
}

body {
  background-color: rgba(153, 236, 255, 0.411);
}

.search-form{
  background-color: rgb(153, 236, 255);

}

.gallery{
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin: 10px;
background: rgba(0, 0, 0, 0.163);

}
.photo-card{
border-radius: 20%;

}
.info{
background: rgba(152, 15, 15, 0.163);
display: flex;
word-break: break-all

}
.info-item{

}


  
